<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<%= render 'shared/head' %>
  </head>

  <body>
		

		<%= render 'shared/banner' %>

   	
  <div class="bg">  
   <% if flash[:notice] %>
      <div data-alert class="alert-box success" style="text-align:center;">
            <%= flash[:notice] %>
          <a href="#" class="close">&times;</a>
      </div>

    <% end %>  
    <div class="row">
      <div class="large-12 columns">
         <!-- campaign runinng goes here --><br />
          <%= yield %>
      </div>
     
    </div>
    </div>

	<!--<div class="bg" style="border-top:2px solid black;">
    <div class="row">
      <div class="large-12 columns">
      	<br />
        <h4 style="text-align:center;">FAQ</h4>

        <h6 style="text-align:center;">What kind of causes can I support?</h6>
        <p style="text-align:center;">EasyFunds supports a variety of causes such as fundraisers for orphanages, kickstart campaigns for busineses, and even fun events like raising money for a fantasy trip.</p>

         <h6 style="text-align:center;">Can I donate more than once?</h6>
        <p style="text-align:center;">Absolutely, you can donate as many times as you want. The more donations you make, the faster the campaign goal will be reached.</p>

         <h6 style="text-align:center;">What happens when a campaign target is not reached?
        </h6>
        <p style="text-align:center;">When a campaign target is not reached, all donors are refunded with the amount they donated.</p>
      </div>
    </div>
    </div>-->

   <%= render 'shared/footer' %>
  </body>
</html>
