<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>

  <body>
		

		<div class="bg">
      <div class="row">
        <div class="large-3 columns large-centered">
        	<br />
          <%= image_tag "logo.png" %>
          <br />
        </div>
        <br />
        <div class="large-10 columns large-centered">
         <h6 style="text-align:center;font-weight:bold;">SUPPORT CAUSES YOU CARE ABOUT!</h6>
          <p style="text-align:center; font-size:14px;">EasyFunds allows you to find and support causes that matters to you. From social fundraisers to kickstarter campaigns, there are a variety of causes to support.</p>
        </div>
    </div>
    </div>
    <% if flash[:notice] %>
			<div data-alert class="alert-box success" style="text-align:center;">
  					<%= flash[:notice] %>
  				<a href="#" class="close">&times;</a>
			</div>

		<% end %>
	<br />
  
    <div class="row">
      <div class="large-12 columns" style="min-height:500px;">
         <!-- campaign runinng goes here --><br />
          <%= yield %>
      </div>
     
    </div>
	<div class="bg" style="border-top:2px solid black;">
    <div class="row">
      <div class="large-12 columns">
      	<br />
        <h4 style="text-align:center;">FAQ</h4>

        <h6 style="text-align:center;">What kind of causes can I support?</h6>
        <p style="text-align:center;">EasyFunds supports a variety of causes such as fundraisers for orphanages, kickstart campaigns for busineses, and even fun events like raising money for a fantasy trip.</p>

         <h6 style="text-align:center;">Can I donate more than once?</h6>
        <p style="text-align:center;">Absolutely, you can donate as many times as you want. The more donations you make, the faster the campaign goal will be reached.</p>

         <h6 style="text-align:center;">What happens when a campaign target is not reached?
        </h6>
        <p style="text-align:center;">When a campaign target is not reached, all donors are refunded with the amount they donated.</p>
      </div>
    </div>
    </div>

    <div style="background-color:black;;">
    <div class="row">
      <div class="large-12 columns">
       <p style="font-size:12px; text-align:center; color:white;margin-top:10px;">All Rights Reserved &copy; EasyFunds | MPower Hackathon</p>
      </div>
    </div>
    </div>


    
    <%= javascript_include_tag "application" %>
  </body>
</html>
